# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TensorFlow & model files
*.dll
*.so
*.dylib
*.pth
*.h5
*.pkl
*.ckpt

# Environment
.env
.env.local

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Uploads 
back-end/uploads/

# ECG data and models
data/
models/
src/models

# Web folder
web/

# Processing - mitbih and ptbxl files
src/processing/*mitbih*
src/processing/*ptbxl*

# Training - mitbih, ecg_bert, and related files
src/training/*mitbih*
src/training/ecg_BERT.py
src/training/hybridBERT.py
src/training/hybrid_dataset.py
src/training/model_hybrid.py
src/training/evaluate_hybrid.py
src/training/model_inceptiontime.py
src/training/model_resnet50.py
src/training/model_resnet50tm.py
src/training/model_seresnet18.py
src/training/resnet1dSE.py
src/training/gnn_cnn/
src/training/gnn_transformer/

# Notebooks
12ECG.ipynb

# Documents
*.docx
*.pdf